<!--The content below is only a placeholder and can be replaced.-->
<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading heading-text">
                <span class="lead">List of Employees with Salaries </span>
            </div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID.</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Salaries</th>
                            <th width="08%">Edit</th>
                            <th width="08%">Remove</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr><tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr><tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr>
                         <tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr><tr>
                            <td>1001</td>
                            <td>First Name1</td>
                            <td>Last Name1</td>
                            <td>Salaries1</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                         </tr>
                         <tr *ngFor="let salary of salaries">
                            <td><span>{{ salary.emp_no }}</span></td>
                            <td><span>First Name</span></td>
                            <td><span>Last Name</span></td>
                            <td><span>{{ salary.salary }}</span></td>
                            <td>
                                <button type="button" class="btn btn-success custom-width"> Edit </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger custom-width">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>