<div class="container">
    <div class="row">
        <div class="col">
            <div style="text-align:center">
                <h2>Employee Managament System</h2>
            </div>
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink='/employees' routerLinkActive="active">Employees</a>
                    <a class="nav-item nav-link" routerLink='/departments' routerLinkActive="active">Departments</a>
                    <a class="nav-item nav-link" routerLink='/salaries' routerLinkActive="active">Salaries</a>                    
                </div>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>